<body>
<h1 class="top">
ようこそ
<strong>Bookers</strong>
へ！
</h1>
<p>
  <strong>Bookers</strong>
  ではさまざまな書式に関する貴方の意見や</p>
<p>
  印象を共有し交換することができます。
</p>

<a class="start" a href="/books">start</a>

</body>